.header {
    height: 60px;
  }
  
  .header h1 {
    color: white;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-decoration: none; */
    /* margin: 10px; */
    /* line-height: 3; */
   
    
  }
  